<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.devblocks.com/schema/plugin.xsd">
	<id>cerb5blog.convert_auditlog</id>
	<name>[Cerb5Blog.com] Convert Audit Log</name>
	<description>Converts Cerberus Audit log entires to Activity Log entires</description>
	<author>Robert Middleswarth</author>
	<version>1.0.7</version>
	<link>http://www.cerb5blog.com/project/convert_auditlog</link>
	<image>plugin.png</image>

	<!-- Requirements -->
	
	<requires>
		<app_version min="5.6" max="5.7" />
	</requires>
	
	<!-- Plugin Dependencies -->
	
	<dependencies>
		<require plugin_id="cerberusweb.core" version="5.4.0" />
	</dependencies>

	<!-- Patches -->
	
	<patches>
		<!--
		<patch version="5.3.0" revision="1" file="patches/5.3.0.php" />
		-->
	</patches>
	
	<!-- Exported Classes -->
	
	<class_loader>
		<!--
		<file path="api/dao/example.php">
			<class name="DAO_Example" />
			<class name="Model_Example" />
			<class name="Plugin_Example" />
			<class name="SearchFields_Example" />
			<class name="View_Example" />
		</file>
		-->
	</class_loader>

	<!-- Templates -->
	
	<!--
	<templates set="example.template.namespace">
		<template path="path/to/template.tpl" />
	</templates>
	-->	

	<!-- Extensions -->
 
	<extensions>
		<extension point="cerberusweb.cron">
			<id>cerb5blog.convert_auditlog.cron</id>
			<name>[Cerb5Blog.com] Convert Audit Log Cron Task</name>
			<class>
				<file>api/cron_convert_auditlog.php</file>
				<name>Cerb5BlogConvertAuditLogCron</name>
			</class>
			<params>
			</params>
		</extension>		
	</extensions>
</plugin>